<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
</head>
<body>

<form action="/instantgenword" method='POST'>
	<label>Fullname</label>
	<input type="text" name="person[fullname]">

	<label>Age</label>
	<input type="number" name="person[age]">

	<label>Address</label>
	<input type="text" name="person[address]">

	<label>Course</label>
	<input type="text" name="person[course]">
	<button>Submit</button>
</form>



<form action="/genword" method="POST">
	<button>Surprise!</button>
</form>


<form action="/genwords" method="POST">
	<button>Generate wordssssss</button>
</form>


<a href="public/john.docx">Download here</a>


</body>
</html>